@{
    ViewBag.Title = "UserDashboard";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User DashBoard</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/External/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/External/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Content/External/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/External/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/Custom.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/External/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/External/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Range Slider -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="../../images/logoAdam.png" alt="logo" style="width: 60%; height:170%">
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i>New Comment

                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i>3 New Followers

                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i>Message Sent

                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>New Task

                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i>Server Rebooted

                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i>Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Find Product</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style="width: 30px">
                        <div data-role="page" id="SliderPage">

                            <div data-role="header">
                                <h1><b>Choose Criteria</b></h1>
                            </div>

                            <div class="col-lg-4">
                                <div class=" row">
                                    <div data-role="main" class="ui-content">
                                        <div data-role="rangeslider">
                                            <label for="RAM-min">RAM:</label>
                                            <input type="range" name="RAM-min" id="RAM-min" value="1" min="1" max="24">
                                            <label for="RAM-max">RAM:</label>
                                            <input type="range" name="RAM-max" id="RAM-max" value="24" min="1" max="24">
                                        </div>
                                    </div>
                                </div>

                                <div class=" row">
                                    <div data-role="main" class="ui-content">
                                        <div data-role="rangeslider">
                                            <label for="Processor-min">Processor:</label>
                                            <input type="range" name="Processor-min" id="Processor-min" value="1" min="1" max="4">
                                            <label for="Processor-max">Processor:</label>
                                            <input type="range" name="Processor-max" id="Processor-max" value="4" min="1" max="4">
                                        </div>
                                    </div>
                                </div>

                                <div class=" row">
                                    <div data-role="main" class="ui-content">
                                        <div data-role="rangeslider">
                                            <label for="Disk-min">Disk:</label>
                                            <input type="range" name="Disk-min" id="Disk-min" value="16" min="16" max="1256">
                                            <label for="Disk-max">Disk:</label>
                                            <input type="range" name="Disk-max" id="Disk-max" value="1256" min="16" max="1256">
                                        </div>
                                    </div>
                                </div>

                                <div class=" row">
                                    <div data-role="main" class="ui-content">
                                        <div data-role="rangeslider">
                                            <label for="Screen-min">Screen:</label>
                                            <input type="range" name="Screen-min" id="Screen-min" value="10" min="10" max="18">
                                            <label for="Screen-max">Screen:</label>
                                            <input type="range" name="Screen-max" id="Screen-max" value="18" min="10" max="18">
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <span class="pull-right">
                                        <button type="button" onclick="location.href ='#'" id="SearchButton">Search Product</button>
                                    </span>
                                </div>
                                <br />
                                <br />
                            </div>
                            <div class="col-lg-8">
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="productBox">
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="productBox">
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="row" id="product">
                                                <div class="col-lg-3">
                                                    <a href="">
                                                        <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage">
                                                    </a>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <a href="">
                                                            <h4>HP EliteBook 745 G2 Laptop</h4>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <p>rating</p>
                                                    </div>
                                                    <div class="row">
                                                        <p>review</p>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">



                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
                @*                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="productBox">
                                <div class="row" id="product">
                                    <div class="col-lg-3">
                                        <a href="">
                                            <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <a href="">
                                                <h4>HP EliteBook 745 G2 Laptop</h4>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <p>rating</p>
                                        </div>
                                        <div class="row">
                                            <p>review</p>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <br />
                                <div class="row" id="product">
                                    <div class="col-lg-3">
                                        <a href="">
                                            <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <a href="">
                                                <h4>HP EliteBook 745 G2 Laptop</h4>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <p>rating</p>
                                        </div>
                                        <div class="row">
                                            <p>review</p>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <br />
                                <div class="row" id="product">
                                    <div class="col-lg-3">
                                        <a href="">
                                            <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <a href="">
                                                <h4>HP EliteBook 745 G2 Laptop</h4>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <p>rating</p>
                                        </div>
                                        <div class="row">
                                            <p>review</p>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>*@
                @*<div class="container">
                        <!--Service-->
                        <section id="service">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="productBox">
                                        <div class="row" id="product">
                                            <div class="col-lg-1">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-2">
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="row" id="product">
                                            <div class="col-lg-2">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="row" id="product">
                                            <div class="col-lg-2">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="productBox">
                                        <div class="row" id="product">
                                            <div class="col-lg-2">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="row" id="product">
                                            <div class="col-lg-2">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="row" id="product">
                                            <div class="col-lg-2">
                                                <a href="">
                                                    <img src="//img.ebyrcdn.net/723106-708085-290.jpg" alt="review" id="productImage"></a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <a href="">
                                                        <h4>HP EliteBook 745 G2 Laptop</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <p>rating</p>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <nav id="pagination">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </section>
                        <!--Service-->
                        <!-- Portfolio -->
                        <section id="ProductReview" class="content">
                            <div class="row">
                                <div class="col-lg-8"></div>
                            </div>
                        </section>
                        <!--/Portfolio -->
                    </div>*@
                @*</div>*@
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../../FYPAdam/Scripts/External/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../FYPAdam/Scripts/External/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../FYPAdam/Scripts/External/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../FYPAdam/Scripts/External/raphael/raphael-min.js"></script>
    <script src="../../FYPAdam/Scripts/External/morrisjs/morris.min.js"></script>
    <script src="../../FYPAdam/Scripts/External/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../FYPAdam/Scripts/External/dist/js/sb-admin-2.js"></script>

</body>

</html>

