@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Navbar.cshtml";
}


<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
</head>
<body style="background-color: white">

    <div class="container">
        <!--Service-->
        <section id="LoginPage">
            <div class="row">
                <div class="col-lg-5" id="mainLoginDiv">
                    <h3 id="UserLogin">
                        Log In
                    </h3>
                    <div class="row">
                        <p id="promptUser">Please enter your email id and password to log in.</p>
                    </div>
                    <form action="/ADAMHome/LoginAction" method="post">
                        <div class="row">
                            <div class="form-group">
                                <label id="emailLabel">Email Address</label>
                                <input type="email" required name="email" size="25" id="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label id="passwordLabel">Password</label>
                                <input type="password" required name="password" size="25" id="password" />
                                <div class="row" id="forgotPassword">
                                    <a href="">Forgot your password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <button name="action_submit" tabindex="3" type="submit" class="btn btn-default btn-md" value="Log In" id="loginButton"><strong>Log In</strong></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5">
                    <h3 id="NoAccountHeading">
                        No Account Yet?
                    </h3>
                    <div class="row">
                        <p id="promptSignUp">No worries, we still care for you.</p>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href = '../../FYPADAM/ADAMHome/SignUp'" id="SignUpButton"><strong>Sign Up</strong></button>
                    </div>
                    <div class="row">
                        <p id="promptSignUpDetail">ADAM - Analyze Data and Market is a social networking assistant that helps you choose best products among many in your area of interest. Best laptops and phones with detailed specs and reviews to let you choose wisely.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>


